%article{:id => release[:meta]["slug"]}
  - release_link = "/releases/" + release[:meta]["slug"]
  - if defined?(archive) && archive
    %a{:href => release_link}
      %h2= release[:meta]["title"]
  - else
    %h1= release[:meta]["title"]
  .release-meta
    - if release[:meta].has_key? "purchase url"
      %a{:href => release[:meta]["purchase url"]} 
        %strong Buy online
    - if release[:meta].has_key?("media") && release[:meta].has_key?("purchase url")
      = "|"
    - if release[:meta].has_key? "media"
      = release[:meta]["media"]
  .row
    .span4
      / - if release[:meta].has_key? "image url"
      /   %img.release-header{:src => release[:meta]["image url"]}
      / - unless defined?(archive) && archive
      /   .tracklist= render_tracklist(release[:meta]["tracklist"])
      
      - if defined?(archive) && archive
        - if (release[:meta].has_key? "bc album number") && (release[:meta].has_key? "bc album link")
          %iframe{:style => "border: 0; width: 100%; height: 300px;", :src => "http://bandcamp.com/EmbeddedPlayer/album=#{release[:meta]["bc album number"]}/size=large/bgcol=ffffff/linkcol=0687f5/minimal=true/transparent=true", :seamless => ""}
            %a{:href => release[:meta]["bc album link"]}= release[:meta]["title"]
      - else
        - if (release[:meta].has_key? "bc album number") && (release[:meta].has_key? "bc album link")
          %iframe{:style => "border: 0; width: 100%; height: 600px;", :src => "http://bandcamp.com/EmbeddedPlayer/album=#{release[:meta]["bc album number"]}/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true",  :seamless => ""}
            %a{:href => release[:meta]["bc album link"]}= release[:meta]["title"]
    .span6
      - if defined?(archive) && archive
        :markdown
          #{release[:body].split("\n\n")[0]}
        %p.pagination-centered
          %a.read-more{:href => release_link + "#more"}
            Listen and read more
      - else
        :markdown
          #{release[:body].split("\n\n")[0]}
          <a id="more"> </a>#{release[:body].split("\n\n")[1..-1].join("\n\n")}
        %p.pagination-centered
          %a{:href => '/releases'} Back to releases page
